
.pacifico-bold {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  font-style: normal;
}
.noto-sans-normal {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}
